@import '../../styles/variables';

.container {
  position: relative;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap row;

  .logo {
    position: absolute;
    left: 18vw;
    display: flex;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: 867px) {
      left: 3vw;
    }
  }
}

.navigation {
  color: $blackColor;
  display: flex;
  justify-content: center;
  gap: 60px;
  font-weight: 400;
  @media screen and (max-width: 867px) {
    gap: 20px;
  }

  .active {
    font-weight: 500;
    color: $blue500;
  }
}

@media screen and (max-width: 562px) {
  .text {
    display: none;
  }
}
