@import 'src/common/styles/variables';
@import 'src/common/styles/mixins';

.title {
  font-style: normal;
  line-height: 24px;
  color: $blue500;
  @include weightSize(600, 20px);
}

.titleCurrent {
  color: $blackColor;
  line-height: 34px;
  @include weightSize(700, 28px);
  @media screen and (max-width: 867px) {
    line-height: 24px;
    @include weightSize(700, 20px);
  }
}
