@import 'src/common/styles/variables';
@import 'src/common/styles/mixins';

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  @media screen and (max-width: 912px) {
    padding: 20px;
  }
}

.pagination {
  margin-top: 40px;
  button[data-active] {
    background-color: $blue500;
  }
}
