.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
}
@media screen and (max-width: 1135px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.pagination {
  margin-top: 40px;
}
