@mixin disabled() {
  pointer-events: none;
  opacity: 0.5;
}

@mixin mediaQueryMargin() {
  @media screen and (max-width: 1135px) {
    margin: auto 10px;
  }
}

@mixin weightSize($fontWeight, $fontSize) {
  font-weight: $fontWeight;
  font-size: $fontSize;
}
