@import 'src/common/styles/mixins';

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  padding-top: 40px;
  @media screen and (max-width: 912px){
    padding: 20px;
  }
}
.descriptionContainer {
  max-width: 773px;
  width: 100%;
  background-color: #ffffff;
  padding: 24px;
  margin: 4px auto 40px;
  border-radius: 12px;
}
