.container {
  max-width: 773px;
  width: 100%;
  background-color: #fff;
  margin-top: 16px;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.title {
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #5e96fc;
}

.titleCurrent {
  pointer-events: none;
  color: #000;
}

.payment {
  margin: 12px 0;
}
.currency {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-right: 5px;
}
.dot {
  margin-right: 12px;
  margin-left: 7px;
  color: #7b7c88;
}

.workTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.location {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
