@import 'src/common/styles/variables';
@import 'src/common/styles/mixins';

.container {
  max-width: 773px;
  width: 100%;
  background-color: $bgSecondColor;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-radius: 12px;
  font-size: 16px;
  padding: 24px;
  margin-bottom: 16px;
  &:hover {
    cursor: pointer;
    background-color: $bgHoverColor;
  }
}
.currentContainer {
  &:hover {
    cursor: default;
    background-color: $bgSecondColor;
  }
}

.disabled {
  @include disabled();
}
