.container {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  gap: 28px;
}

@media screen and (max-width: 1135px) {
  .container {
    margin: auto 10px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.searchContainer {
  max-width: 773px;
  width: 100%;
}

.pagination {
  padding: 40px;
  justify-content: center;
}
.pagination button[data-active] {
  background-color:#5e96fc;
}
