@import 'src/common/styles/variables';
@import 'src/common/styles/mixins';

.container {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  gap: 28px;

  .searchContainer {
    max-width: 773px;
    width: 100%;

    .pagination {
      padding: 40px;
      justify-content: center;

      button[data-active] {
        background-color: $blueColor;
      }
      @media screen and(max-width: 773px) {
        padding: 20px;
      }
    }
  }

  @include mediaQueryMargin();

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.disabled {
  @include disabled();
}
