@import 'src/common/styles/variables';

.inputContainer {
  height: 42px;
  border-radius: 8px;
  margin: 8px 0 8px;
  &:hover {
    border: 1px solid $blue500;
  }
}



.rightSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
  & > svg {
    cursor: pointer;
    &:hover > path {
      stroke: $blue500;
    }
  }

  & > :nth-child(1) {
    transform: rotate(180deg);
  }
}

.rightSection .rightSection > svg:hover {
  color: $blue500;
}
