@import 'src/common/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding-top: 10vh;
  color: $blackColor;
  button {
    width: 164px;
    height: 42px;
    background-color: $blue100;
    margin-bottom: 10px;
    color: $blue600;
  }
}
