@import 'src/common/styles/mixins';
@import 'src/common/styles/variables';

.container {
  margin-bottom: 16px;
  height: 48px;
  .searchButton {
    background-color: $blueColor;
  }
}
.disabled {
  @include disabled();
}
