@import 'src/common/styles/mixins';
@import 'src/common/styles/variables';

.input {
  margin-bottom: 16px;
  height: 48px;
}
.disabled {
  @include disabled();
}

.searchButton {
  background-color: $blue500;
  &:hover {
    background-color: $blue400;
  }
  &:active {
    background-color: $blue600;
  }
}
