@import 'src/common/styles/variables';
@import 'src/common/styles/mixins';

.star:hover > path {
  stroke: $blue500;
}

.favorite {
  color: $blue500;
  fill: $blue500;
  & > path {
    stroke: $blue500;
  }
}
