@import 'src/common/styles/variables';
@import 'src/common/styles/mixins';

.star {
  color: $greyColor;
}

.favorite {
  color: $blueColor;
  fill: $blueColor;
  & > path {
    stroke: $blueColor;
  }
}
