.container {
  min-width: 315px;
  height: 100%;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
}

@media screen and (max-width: 480px) {
  .container {
    min-width: 300px;
  }
}
.filterHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.filterHead .title {
  font-weight: 700;
  font-size: 20px;
}
.filterHead button {
  color: #acadb9;
  font-size: 14px;
  font-weight: 500;
}
.filterHead button :hover {
  color: #5e96fc;
}
.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 8px;
}

.container .buttonAccept {
  margin-top: 20px;
  height: 40px;
  border-radius: 8px;
  background-color: #5e96fc;
}
