@import 'src/common/styles/mixins';
@import 'src/common/styles/variables';

.container {
  min-width: 315px;
  height: 100%;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;

  .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
  }

  .buttonAccept {
    margin-top: 20px;
    height: 40px;
    border-radius: 8px;
    background-color: $blueColor;
  }

  @media screen and (max-width: 480px) {
    min-width: 300px;
  }
}
.filterHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;

  .title {
    font-weight: 700;
    font-size: 20px;
  }

  button {
    color: $greyColor;
    font-size: 14px;
    font-weight: 500;
    & :hover {
      color: $blueColor;
    }
  }
}
.disabled {
  @include disabled();
}

