.container{
    min-width: 315px;
    height: 100%;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
}
.filterHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}
.filterHead .title {
    font-weight: 700;
    font-size: 20px;
}
.filterHead button {
    color: #ACADB9;
    font-size: 14px;
    font-weight: 500;
}
.filterHead button :hover{
    color: #5e96fc;
}