.container{
    min-width: 315px;
    height: 100%;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
}
.filterHead{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.inputNumber {
    padding: 10px 0;
}