@import 'src/common/styles/mixins';
@import 'src/common/styles/variables';

.container {
  min-width: 315px;
  height: 100%;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;

  .buttonAccept {
    margin-top: 20px;
    height: 40px;
    border-radius: 8px;
    background-color: $blueColor;
  }

  @media screen and (max-width: 480px) {
    min-width: 300px;
  }
}

.disabled {
  @include disabled();
}
